{% load compile_static %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'js/main.js' %}"></script>
    <link rel="stylesheet" href="{% static "css/base.less"|compile %}" />
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
    {% csrf_token %}
    <div id="header">
        <h1>header</h1>
        <button onclick="window.ajax.getRecipes()">button</button>
    </div>
    <div id="side_menu">
        <h1>side menu</h1>
    </div>
    <div id="main_content">
        {% block content %}
        {% endblock content %}
    </div>
    <div id="footer">
        <h1>footer</h1>
    </div>
</body>
</html>