{% extends "base.html" %}
{% load compile_static %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/index.less"|compile %}" />
    {{ block.super }}
{% endblock extra_css %}

{% block content %}
<ul id="main_recipes">
    {% for recipe in recipes %}
    <li class="recipe">
        <div class="recipe_image">
            <img src="{{ recipe.image_url }}">
        </div>
        <a href="{% url 'recipes:details' %}" class="name">{{ recipe.name }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock content %}
